<h1>><%= @user.user_name %> Welcome to The Mixtape Project</h1>
<br>
<h2>The Mixtape Project is a way to create
mixtape for your family, friends and that special someone! 
You can also checkout mixtapes others have made, like them
and add them to your Spotify account as a playlist!</h2>

-Andrew and Nate

<h4>Follow me (Andrew) on Twitter @thedrewprint... and like my mixtapes!<h4>