<br>
<div class="row">
<div class="col-md-3">

</div>
<div class="col-md-6 transparent-card" style="text-align:center">
    <h2>Badge Info</h2>
</div>
<div class="col-md-3">

</div>
</div>
<br>
<div class="row">
<div class="col-md-3">

</div>
<div class="col-md-6 transparent-card" style="height:300px; text-align:center; padding-top:20px">
    <img style="height: 150px"src="<%= image_path @badge.image_url %>">
    <h2><%= @badge.title %></h2>
    <h4><%= @badge.description %></h4>
    <a href="<%= badges_path %>"><button class="btn btn-success">See All Badges</button></a>
</div>
<div class="col-md-3">

</div>
</div>