
<div class="row">
<div class="col-md-4">
</div>
<div class="col-md-4">
    <h1>Create New Mixtape: </h1>
</div>
</div>
<div class="row">
<div class="col-md-2">
</div>
<div class = "col-4-md" style="width:400; height:350; position: relative; left: 0; top: ;">
        <img src="<%= image_path('backgrounds/background_1.png') %>" alt="bkground">
        <div class = "cassette" style="position: absolute; top:10%; height:171px; width:100% ">
            <img src="<%= image_path('cassettes/eighties.png') %>" style="position: absolute; top:10%; width:100%; height \: " alt="bkground">
            <div id="handwriting" style="position: absolute; left: 28%; top:29%; height:20px; ">
                <h2 style= "font-family: 'Permanent Marker', cursive; text-align: center" id="message-text"><h2>
            </div>
        </div>
        </div>
<div class="col-md-4">
    <%= render 'form'%>
</div>
</div>
<div class="row">

</div>