<img class="" src="<%= image_path(@mixtape.cassette_url) %>" style = "" alt="Cassette">
          

<h2><%= @mixtape.title %><h2>

<h3><%= @mixtape.message %></h3>

<h3>Created by:<%= @mixtape.user.user_name %></h3>
