<% @artist.albums.each do |album| %>
    <%= album.name %>
    <p><img style="height:160px; width:160px" src=<%= album.images[0]["url"]%>></p>
    <%= link_to "Songs", songs_path(album.id) %>
<% end %>