       

<div class="row" style="margin:10px">
 <div class="col-md-2">
</div>
<div class="col-md-2">
 <a href="<%= search_path(flash[:mixtape_id]) %>"><i class="fas fa-chevron-left" style="font-size:40px"></i></a>
</div>
 <div class="col-md-4 transparent-card">
 <h2>Artists:</h2>
</div>
<div class="col-md-4">
</div>
</div>
        <% if @artists %>
            <% @artists.each do |artist| %>
            <div class="row">
                <div class="col-md-4">
                </div>
                <div class="col-md-4 artist-card">
                    <% if artist.images[0] %>
                    <img style="height:160px; width:160px; padding:10px; border-radius: 50%;" src=<%= artist.images[0]["url"] %>>
                    <% end %>
                
                    <%= link_to "#{artist.name}", albums_path(artist.id) %>
                </div>
                </div class="col-md-4">
                </div>
            </div>
            <div style="height:20px">
            </div>
            <% end %>
        <% end %>
        