.searchbar {
    margin-bottom: auto;
    margin-top: auto;
    height: 60px;
    background-color: #353b48;
    border-radius: 30px;
    padding: 10px;
}

.search_input {
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color: transparent;
    line-height: 40px;
    transition: width 0.4s linear;
}

.searchbar:hover>.search_input {
    padding: 0 10px;
    width: 450px;
    caret-color: red;
    transition: width 0.4s linear;
}

.searchbar:hover>.search_icon {
    background: white;
    color: #e74c3c;
}

.search_icon {
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: white;
    text-decoration: none;
}

.artist-card {

    border: 4px solid grey;
    border-radius: 8px;
    background-color: #47476b;
    

}

.artist-card, a:link, a:visited,  {
    color:rgb(47, 153, 144);
}


.add-song-card {

    text-align: center;
    border: 4px solid grey;
    border-radius: 8px; 

}
.add-song-card:hover {

    text-align: center;
    border: 4px solid blue;
    color: blue;
    border-radius: 8px;

}
.i:hover {

    color: red;
}
.pattern {
    height:60px;
}

.pattern:hover {
    background-color: white;
    border: 2px solid black;
    cursor:pointer
}

.selected {
    background-color: white;
    border: 2px solid black;
}

.cassette-pick {
    height:60px;
}
.cassette-pick:hover {
    background-color: white;
    border: 2px solid black;
    cursor:pointer
}

body {
    background-image: url(image_path("boombox3"));
    background-size: 290px 190px;
    
}

.transparent-card{
background-color: rgba(255, 255, 255, 0.9); 
border-radius:25px; 
box-shadow: 0 4px 8px 0 rgb(102, 102, 153), 0 6px 20px 0 rgb(102, 102, 153); 
}

.custom-modal{
    margin-top: 20px;
    background-color: white;
    position:fixed;
    top:0;
    width: 600px;
    left:50%;
    transform: translate(-50%);
    z-index:1;
    text-align: center;
}

.prof-nav {
font-size:30px;
font-family: 'Permanent Marker',
cursive;

}